.taglist {
  display: inline;
  list-style: none;
  padding-left: 0px;
}

.taglist li {
  display: inline;
}

.taglist li:after {
  content: ', ';
}

.taglist li:last-child:after {
  content: '';
}

.related_tracks a {
}

.content-body-wrapper {
  display: table;
  width: 100%;
  height: 20px;
  border-collapse: collapse;
}

#content-body,
div.content-row {
  display: table-row;
  padding: 0px 0px 0px 0px;
}

.result-document-table {
  border: 1px solid #999;
  margin-left: 210px;
}

.result-document-table:nth-child(2n + 1) {
  background-color: #eee;
}

div.meta-row,
div.meta-label,
div.meta-content {
  display: table-cell;
  padding: 1px 5px 0px 0px;
}

.meta-row {
  height: 20px;
}

.meta-label {
  width: 150px;
  height: 20px;
  text-align: right;
}

.meta-content {
  display: table-cell;
  width: auto;
  height: 20px;
  text-align: left;
}

.meta-content,
.meta-content-table-field li {
  list-style-type: none;
}

.meta-content-table-field ul {
  height: 15px;
  overflow: auto;
}

.meta-content-table-field {
  display: table-cell;
  height: 15px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .content {
  display: none;
  padding: 5px;
}

#controls-config {
  display: none;
}

#controls-toggle a {
  color: white;
  text-decoration: none;
  display: table-cell;
}

.controls-column-left {
  float: left;
}

.controls-column-left {
  float: left;
}

.controls.column-right {
  float: right;
}

.controls-field-label,
.controls-field-value {
  font-size: 10px;
}

.controls-field-value {
  width: 30px;
}
